.page.theme_dark {
  --text-color: var(--color-pink-text);
  --title-color: var(--purple-color);
  --background-color: var(--purple-color-bg);
  --background-color-light: var(--purple-color-bg-40);
  --color-text: var(--black);
  --page-color: var(--black);
  --background-image: url(../images/cover-image-dark.png);
  --shadow-color: var(--purple-color-bg);
  --title: var(--purple-color-bg);
  --bord: var(--purple-color-bg);
  --button-color: var(--purple-color-bg);
  --rec-vis: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--color-pink-text);
    --title-color: var(--purple-color);
    --background-color: var(--purple-color-bg);
    --background-color-light: var(--purple-color-bg-40);
    --color-text: var(--black);
    --page-color: var(--black);
    --background-image: url(../images/cover-image-dark.png);
    --shadow-color: var(--purple-color-bg);
    --title: var(--purple-color-bg);
    --bord: var(--purple-color-bg);
    --button-color: var(--purple-color-bg);
    --rec-vis: visible;
  }
}
