/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text-color: var(--grey);
  --title-color: var(--pink-middle);
  --background-color: var(--pink-dark);
  --background-color-light: var(--shadow-light);
  --color-text: var(--grey);
  --page-color: var(--pink-light);
  --background-image: url(../images/cover-image-light.png);
  --shadow-color: var(--pink-dark);
  --title: var(--grey);
  --bord: var(--grey);
  --button-color: var(--grey);
  --rec-vis: hidden;
  --background-color-light:var(--shadow-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--grey);
    --title-color: var(--pink-middle);
    --background-color: var(--pink-dark);
    --background-color-light: var(--shadow-light);
    --color-text: var(--grey);
    --page-color: var(--pink-light);
    --background-image: url(../images/cover-image-light.png);
    --title: var(--grey);
    --bord: var(--grey);
    --button-color: var(--grey);
    --rec-vis: hidden;
    --background-color-light:var(--shadow-light);
    --shadow-color: var(--pink-dark);
  }
}
