/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --purple-color: #db00ff;
  --purple-color-bg: #ff0070;
  --color-pink-text: #f1b2ce;
  --pink-light: #fff1f7;
  --pink-middle: #ffc2e6;
  --pink-dark: #ff8dcb;
  --black: #000028;
  --grey: #353430;
  --purple-color-bg-40: #ff007040;
  --shadow-light: #32312d40;
  --text-color: var(--color-pink-text);
  --title-color: var(--purple-color);
  --background-color: var(--purple-color-bg);
  --background-color-light: var(--purple-color-bg-40);
  --page-color: var(--black);
  --background-image: url(../images/cover-image-dark.png);
  --shadow-color: var(--purple-color-bg);
  --title: var(--purple-color-bg);
  --bord: var(--purple-color-bg);
  --button-color: var(--purple-color-bg);
  --rec-vis: visible;
}


